  /* 基本的 CSS 樣式 */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #151515;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #555;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
li{
    box-sizing: border-box;
    display: inline;
    
}
.left{
    
    
    color: #efffaa;
    position: absolute;
    left: 10px;;
    top: 60%;
    
}
.right{
    
    color: #efffaa;
    position: absolute;
    right: 10px;
    top :60%;
}
.mid{
    float: left;
    
    color: #ffffff;
    
}
.show li{
    list-style: none;
    max-width: 80%;
    max-height: 80%;
}

/* 媒體查詢，根據屏幕寬度進行調整 */
@media (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

section {
    text-decoration:none;
    color: #fff;
    
}
.background {
    background-color: #826363; 
    
    background-repeat: no-repeat; 
     
    background-position:bottom  center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0%;
    height:600px;
    
    background-size: cover;
    background-image: url(../img/bg.jpg); 

    }

.background h2{
    color: #fcecbb;
}

.whats-new {
text-align: center;
color:#ffffff;
}

.whats-new h2 a {
color: #fff;
}

.whats-new p {

color:#ffffff;
}

a{
    text-decoration:none;
    color: #ffffff;
}
.outside{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
}
.adjust{
    width: 70vw;
    height: 50vw;
    display: flex;
    justify-content: space-around;
}
