<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Formula</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="{{url_for ('static', filename='css/test.css' )}}" rel ="stylesheet"/><script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
   
</head>
<body>
    <header>
        <h1>Space Formula -TMDH</h1>
        <h5>Planetary Tourism Office</h5>
    </header>
    
    <nav>
        <div class="container">
            <ul>
                <li class = "list">
                    <span class="icon"></span>
                    <a href="/">Home</a>
                </li>
                <li class = "list" >
                    <span class="icon"></span>
                    <a href="/race">Map</a>
                </li>
                <li class = "list">
                    <span class="icon"></span>
                    <a href="/craft">SpaceCraft</a>
                </li>
                <li class = "list">
                <span class="icon"></span>
                <a href="/booking">booking</a>
                </li>
                <li class = "list">
                    <span class="icon"></span>
                    <a href="/info">info</a>
                </li>
                <li class = "list">
                    <span class="icon"></span>
                    <a href="/aboutus">AboutUs</a>
                </li>
               
            </ul>
        </div>
    </nav>
    <section class="whats-new background">
        <ul>
            <li>
                <h1>From the Highest Peaks to the Lowest Valleys,<br> Embrace the Red Earth</h1>
                <h1>-----------------------------------------------</h1>
            </li>
            <li>
                <h2>MARS</h2>
Mars is a harsh world – dry, rocky, and frigid.<br>
 It's the fourth planet from the Sun and one of our closest planetary neighbors, alongside Venus. <br>
 You can easily spot Mars as a bright red dot in the night sky. <br>
 While it's not hospitable for humans, <br>
 robotic explorers like NASA's Perseverance rover are paving the way for future human missions to the Red Planet.

            </li>
    <div class =" outside">
        <div class = "img">
            <img src="../static/img/tab4.PNG">
            <img src="../static/img/info4.jpg" border = "0" width="1080" height="720">
        </div>
        
            
    </div>
        
    
</body>
</html>
