<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Formula</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="{{url_for ('static', filename='css/test.css' )}}" rel ="stylesheet"/><script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</head>
<body>
    <header>
        <h1>Space Formula -TMDH</h1>
        <h5>Planetary Tourism Office</h5>
    </header>
    
    <nav>
        <div class="container">
            <ul>
                <li class = "list">
                    <span class="icon"></span>
                    <a href="/">Home</a>
                </li>
                <li class = "list" >
                    <span class="icon"></span>
                    <a href="/race">Map</a>
                </li>
                <li class = "list">
                    <span class="icon"></span>
                    <a href="/craft">SpaceCraft</a>
                </li>
                <li class = "list">
                <span class="icon"></span>
                <a href="/booking">booking</a>
                </li>
                <li class = "list">
                    <span class="icon"></span>
                    <a href="/info">info</a>
                </li>
                <li class = "list">
                    <span class="icon"></span>
                    <a href="/aboutus">AboutUs</a>
                </li>
                
            </ul>
        </div>
    </nav>
    

        <div class="about">
            <div class="au">
                <div class="inner">
                "The Adventure of a Lifetime ~ Space Formula Awaits You”<br>
Our 'Space Formula' tour allows you to experience the high-speed excitement of F1 racing across all planets.<br>
Each journey will accommodate a maximum of 5 players. Please note that minors, seniors, pregnant individuals, persons with disabilities, and those with heart conditions or other high-risk factors will not be able to participate in the race.<br> However, don't worry, TMDH will provide you with an exciting race broadcast platform to share the thrilling space race with you.<br> Additionally, all participants who register for the "Space Formula" tour will receive space tours and introductions as part of our services.
<br>Participants will gather on Earth and undergo a pre-departure briefing at TMDH's Space Center, which will last approximately 4 hours.<br>
Our 'Space Formula' tour is originally priced at 20,000 space coins. <br> are currently offering group discounts, so feel free to invite your friends and family to join. Groups with more than 15 people will receive a 15% discount per person.
</div>


            </div>
            
            </div>
        </div>    
        
        
       

    
</body>
</html>
